*.bak
*.DS_Store
*.log
*.phar
*.sublime-project
*.sublime-workspace
.env
.php_cs
.vscode
build/
composer.lock
docs/
environment.php
humbug.json
humbuglog.*
phpdox.xml
phpunit.xml
sftp-config.json
vendor/
VeriduRuleset.xml
