*.bak
*.DS_Store
*.log
*.phar
*.sublime-project
*.sublime-workspace
.env
.vscode
.php_cs
composer.lock
environment.php
humbug.json
humbuglog.*
phpdox.xml
phpunit.xml
sftp-config.json
vendor/
VeriduRuleset.xml
