<?php
/*
 * Copyright (c) 2012-2016 Veridu Ltd <https://veridu.com>
 * All rights reserved.
 */

declare(strict_types = 1);

$appSettings = [
    'debug' => true,
    'displayErrorDetails' => true,
    'determineRouteBeforeAppMiddleware' => true,
    'log' => [
        'path'  => sprintf(
            '%s/../log/api-%04d%02d%02d.log',
            __DIR__,
            date('Y'),
            date('m'),
            date('d')
        ),
        'level' => Monolog\Logger::DEBUG
    ],
    'gearman' => [
        'timeout' => 1000,
        'servers' => [
            ['localhost', 4730]
        ]
    ],
    'daemons' => [
        'scrape'  => true,
        'feature' => true,
        'email'   => true
    ],
    'feature' => [
        'enabled' => true,
        'db' => [
            'sql' => [
                'driver'    => 'pgsql',
                // 'read' => [
                //     'host' => 'localhost'
                // ],
                // 'write' => [
                //     'host' => 'localhost'
                // ],
                'host'      => 'localhost',
                'port'      => 5432,
                'database'  => 'idos-feature',
                'username'  => 'idos-feature',
                'password'  => 'idos-feature',
                'charset'   => 'utf8',
                'collation' => 'utf8_unicode_ci',
                'prefix'    => '',
                'options'   => [
                    \PDO::ATTR_TIMEOUT    => 5,
                    \PDO::ATTR_PERSISTENT => true
                ]
            ]
        ]
    ],
    'mail' => [
       'host'       => 'smtp.gmail.com',
       'port'       => 587,
       'username'   => 'no-reply@veridu.com',
       'password'   => '',
       'encryption' => 'tls'
    ],
    'path' => [
        'views' => __DIR__ . '/../resources/emails',
        'cache' => __DIR__ . '/../resources/emails/cache'
    ]
];
